
//VARIABLES 

$fuente-principal: 'Prata', serif;
$fuente-secundaria: 'quentin', serif;
$color-principal: #b9886a;
$color-secundario: #956447;
$color-nav: #f97704;

@font-face {
    font-family: quentin;
    src: url(../font/Quentin.otf);
}